IPHONEOS_DEPLOYMENT_TARGET = 16.0
HOST_BUNDLE_IDENTIFIER = com.example.gptweb
SAFARI_FIX_BUNDLE_IDENTIFIER = com.example.gptweb.safarifix
PRODUCT_BUNDLE_IDENTIFIER = $(HOST_BUNDLE_IDENTIFIER)
PRODUCT_NAME = GPTWeb
MARKETING_VERSION = 1.2.4
CURRENT_PROJECT_VERSION = 11
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1
SUPPORTS_MACCATALYST = NO
ENABLE_BITCODE = NO
